# Ignore macOS system files
.DS_Store

# Ignore VS Code settings
.vscode/
*.code-workspace

# Ignore logs and temp files
*.log
*.out
*.tmp
*.bak
*.swp
*.swo

# Ignore R and RStudio files
.Rhistory
.RData
.Rproj.user/

# Ignore REDCap exports
*.csv~

# Ignore unnecessary Git files
.git/

# Ignore sensitive patient data
Data/
Data_processed/
Data_instruments/
