:root {
/*-- COLOR VARIABLES --*/
--DarkBlue:           #003087;
--Blue:               var(--my-blue);
--BrightBlue:         #0072CE;

--Black:              #231F20;
--DarkGrey:           #425563;
--MidGrey:            #768692;
--PaleGrey:           #E8EDEE;
--White:              #FFFFFF;

--DarkGreen:          #006747;
--Green:              #009639;
--AquaGreen:          #00A499;

--Purple:             #330072;
--DarkPink:           #7C2855;
--Pink:               #AE2573;
--DarkRed:            #8A1538;
--Red:                #DA291C;

--my-blue:            #122140;
--my-yellow:          #e5bf00;
--my-gold:            #ae8f00;

--my-coral:          #903030;
--my-red:            #600018;
--my-pink:           #c09090;
}

/*-- LINKS/ANCHORS --*/
a {
  color:              var(--my-blue);
  border-bottom:      2px solid var(--my-blue);
  line-height:        1.5em;
}

a:hover {
  border-bottom:      0px;
}

/*-- HEADINGS --*/
.remark-slide-content h1 {
  color:              var(--my-blue);
  font-size:          45px;
  line-height:        1em;
}

.remark-slide-content h2 {
  font-size:          35px;
  color:              var(--my-blue);
  line-height:        1em;
}

.remark-slide-content h3 {
  font-size:          25px;
  color:              var(--my-blue);
}

li{
   line-height:        1.5em;
}

/*-- PARAGRAPH TEXT --*/
.remark-slide-content {
  font-size:          1.6rem;
  line-height:        1.2em;
}

/*-- HORIZONTAL BARS --*/
hr {
  content:            none;
  display:            block;
  border:             none;
  background-color:   #231F20;
  height:             0.08em;
}

/*-- BOTTOM-OF-SLIDE PROPERTIES --*/

/*-- Footnote --*/
.footnote {
  position:           absolute;
  bottom:             2em;
  padding-right:      4em;
  font-size:          80%;
  line-height:        1.3em;
}

/*-- Slide number --*/
.remark-slide-number {
  color:              #000000;
}

/*-- CODE TEXT --*/

/*-- In-line highlighting within text --*/
.remark-code, .remark-inline-code {
  font-size:          90%;
  font-weight:        400;
  color:              #231F20;
  background:         #E8EDEE;
  border-radius:      3px;
  padding:            1px 1px 1px 1px;
}

/*-- Line highlighting within code --*/
.remark-code-line-highlighted {
  background-color:   #E8EDEE;
}

/*-- CODE CHUNKS --*/

/*-- Code chunk background layer --*/
pre {
  /*border: 2px solid rgba(204, 189, 204, 0.8); /* code chunk border*/
  border:             none;
  box-shadow:         2px 2px 2px 2px #eee;
  padding:            0.1em;                    /* padding between code chunk and border */
  background:         none !important;
  overflow-x:         auto;                     /* enable horizontal scrolling with overflow */
  border-radius:      1px;                      /* modify rounding of corners*/
}

/*--  --*/
pre code {
  background:          none;
  font-size:           18px !important;
}

/*-- TABLES --*/
.remark-slide table {
  margin:              auto;
  border-top:          1px solid #768692;
  border-bottom:       1px solid #768692;
}

/*-- Table header --*/
.remark-slide table thead th {
  border-bottom:       1px solid #768692;
}

/*-- Table rows (even) --*/
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) {
  background:          #E8EDEE;
}

/*-- BLOCK QUOTE --*/
blockquote {
  border-left:         solid 5px #E8EDEE;
  padding-left:        1em;
}

/*-- INVERSE SLIDE MODIFICATIONS --*/

/*-- Slide background and text (inverse) --*/
.inverse {
  background-color:   var(--my-blue);
  color:              var(--PaleGrey);
  text-shadow:        none;
}

/*-- Headings (inverse) --*/
.inverse h1, .inverse h2, .inverse h3 {
  color:              #FFFFFF;
}

/*-- Horizontal bars (inverse) --*/
.inverse hr {
  background-color:   #FFFFFF;
}

/*-- Links/anchors (inverse) --*/
.inverse a {
  color:              var(--PaleGrey);
  border-bottom:      2px solid white;
}

.inverse a:hover {
  border-bottom: none;
}

/*-- Horizontal bars (inverse) --*/
.inverse hr { background-color: var(--PaleGrey); }

/*-- CUSTOM CLASS FOR THE TITLE SLIDE --*/

/*-- NHS organisation logo --*/
.title-slide {
  background-image:    url(../img/logo-title-slide.png);
  background-position: 90% 10%;
  background-size:     500px;
}

/*-- Headings --*/
.title-slide h1 {
  color:               #000000;
}

/*-- Hides slide number from title slide --*/
.title-slide .remark-slide-number {
  display:             none;
}

/*-- CUSTOM CLASSES FOR TEXT EMPHASIS --*/
.blue       { color:  var(--Blue) }
.green      { color:  var(--Green) }
.pink       { color:  var(--Pink) }
.red        { color:  var(--Red) }
.warmyellow { color:  var(--WarmYellow) }
.palegrey   { color:  var(--PaleGrey)}
.my-blue    { color:  var(--my-blue) }
.my-yellow  { color:  var(--my-yellow) }
.my-gold    { color:  var(--my-gold)}
.my-red     { color:  var(--my-red) }
.my-coral   { color:  var(--my-coral) }
.my-pink    { color:  var(--my-pink) }
.my-hot-pink { background-color: #ff69b4 }

/*-- Small text --*/
.small {
  font-size: 70%;
}
